
.DatosCSS-input-checkbox {
  width:20px;
  height:17px;
}

.tabla{
  width: auto;
  height:auto;
  overflow:auto;
  margin: auto;
}
td{
  width: auto;
}
.tabla-cabecera{
  color: white;
  width: 100%;
  background-color: rgb(16, 81, 158);
}

.table-scroll{
  width: 100%;
  margin-top:1.5%;
  margin-bottom: 1.5%;
}
.btn btn-danger{
  text-align: center;
}