.header {
  text-align: center;
}

.Logo img {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.menu{
   margin: 0;
   padding: 0;
   list-style: none;
}
.menu li{
    display:inline;
    padding-right: 10px;
}
